/************************ GENERAL ************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('normalize.css');



:root {
    --main-blue: #0065FC;
    --lighter-blue: #DEEBFF;
    --background-grey: #F2F2F2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 1280px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/************************ DESKTOP ************************/

/************** HEADER ****************/

/*** LOGO ***/


/*** NAVIGATION ***/

header nav ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
}

header nav ul li {
    margin: auto 30px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header nav ul li .active {
    color: var(--main-blue);
}


/************************ TABLET ************************/

    @media (max-width: 992px) { 

    }


 /************************ MOBILE ************************/

    @media (max-width: 768px) { 
        .flex {
            flex-direction: column;
        }

        /************** HEADER MOBILE ****************/

        header nav ul li {
            margin: auto;
        }
}