/************** GENERAL ****************/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('normalize.css');



:root {
    --main-blue: #0065FC;
    --lighter-blue: #DEEBFF;
    --background-grey: #F2F2F2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}