/************************ GENERAL ************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('normalize.css');



:root {
    --main-blue: #0065FC;
    --lighter-blue: #DEEBFF;
    --background-grey: #F2F2F2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    max-width: 1920px;
}

/************************ DESKTOP ************************/

/************** HEADER ****************/

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*** LOGO ***/

header img {
    padding-left: 50px;
}

/*** NAVIGATION ***/

nav ul {
    display: flex;
    list-style: none;
    margin-top: 0;
}

nav ul li {
    margin: 0;
    width: 170px;
    text-align: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 25px 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

nav ul li a .line-nav:first-child {
    border: solid 2px ;
    margin-bottom: 35px;
    visibility: hidden;
}

nav ul li a .line-nav:last-child {
    display: none;
    border: solid 2px var(--background-grey);
    margin-bottom: 35px;
    margin-top: 15px;
}

nav ul li a:hover {
    color: var(--main-blue);
}

nav ul li a:hover > .line-nav {
    border: solid 2px var(--main-blue);
    visibility: visible;
}

/*** FORM ***/

header form {
    line-height: 60px;
    margin-top: -20px;
}

header form div {
    display: flex;
    flex-direction: row;
    height: 40px;
}

header form div div {
    background-color: var(--background-grey);
    padding: 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0;
}

header form input[type=search]  {
    margin-left: 0;
    padding: 12px;
    font-weight: bolder;
    font-size: 15px;
    border: solid 1px var(--background-grey);
    background-color: white;
}

header form input[type=submit],
header form button {
    background-color: var(--main-blue);
    color: var(--background-grey);
    border: none;
    font-weight: bold;
    padding: 12px;
    margin-left: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

header form input[type=submit]:hover,
header form button:hover {
    cursor: pointer;
}

header form button {
    display: none;
}


/*** FILTER ***/

.filters {
    display: flex;
    margin-top: 25px;
}

.filters div {
    display: flex;
    flex-wrap: wrap;
}

header .filters div .filter-btn {
    display: flex;
    background-color: white;
    border: solid 3px var(--background-grey);
    border-radius: 50px;
    padding: 0;
    transition: 0.3s;
    margin: 10px;
}

header .filters div .filter-btn div {
    background-color: var(--lighter-blue);
    padding: 12px;
    border-radius: 50px;
    border: solid 5px var(--lighter-blue);
    transition: 0.3s;
}

header .filters div .filter-btn div i {
    color: var(--main-blue);
    transition: 0.3s;
}

header .filters div .filter-btn span {
    text-align: center;
    padding: 15px;
    margin: auto;
    font-weight: bolder;
}

header .filters div .filter-btn:hover {
    color: white;
    background: var(--main-blue);
    cursor: pointer;
}

header .filters div .filter-btn:hover > div {
    background-color: var(--main-blue);
    border: solid 5px var(--main-blue);
}

header .filters div .filter-btn:hover > div i {
    color: white;
}

header .filter-info {
    margin: 35px auto;
}

header .filter-info span {
    color: var(--main-blue);
    border: 2px solid var(--background-grey);
    width: 10px;
    padding: 10px;
    height: 10px;
    border-radius: 50%;
}


/************** MAIN ****************/

.flex-container-lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lodging-section {
    background-color: var(--background-grey);
    width: 60%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}

.popular-section {
    background-color: var(--background-grey);
    width: 35%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lodging-section .show-more-btn {
    font-weight: bold;
    margin-top: 45px;
    margin-left: 25px;
    font-size: 16px;
}

.popular-section h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}


/*** ARTICLE CARD ***/

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lodging-section a {
    text-decoration: none;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    width: 27%;
    min-width: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0px;
    margin: 3%;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card a {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.card-header img {
    width: 100%;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-body span {
    font-weight: bold;
}

.card-body .stars {
    color: var(--background-grey);
}

.card-body .stars .rating {
    color: var(--main-blue);
}

/*** CARDS ON POPULAR SECTION ***/

.popular-section .card {
    width: 100%;
    margin: 5% auto;
    height: 180px;
}

.popular-section .card a {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    text-decoration: none;
    color: black;
}

.popular-section .card a div img {
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.popular-section .card a div {
    margin-right: 5%;
    padding-bottom: 5px;
    height: 175px;
}

.popular-section .card a div:first-child {
    width: 40%;
}

.popular-section .card a div:last-child {
    width: 60%;
}


/*** ACTIVITY ***/

.activity {
    margin-top: 50px;
}

.activity-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-content: space-between;
    height: 600px; 
}

.activity-container .item {
    background-color: var(--background-grey);
    margin: 1%;
    width: 20%;
    min-width: 200px;
}

.activity-container .item-1,
.activity-container .item-4 {
    height: 100%;
}

.activity-container .item-2 {
    height: 50%;
}

.activity-container .item-3 {
    height: 40%;
}

.activity-container .item-5,
.activity-container .item-6 {
    height: 45%;
}

/************** FOOTER ****************/

footer {
    background-color: var(--background-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/************************ TABLET ************************/

    @media (max-width: 992px) { 

        /************** MAIN ****************/

        /*** ARTICLE CARD ***/

        .flex-container-lodging {
            flex-direction: column;
        }

        .lodging-section {
            width: 100%;
        }

        .popular-section {
            width: 100%;
            margin: 7% auto;
        }

        .card {
            width: 40%;
        }
    }


 /************************ MOBILE ************************/

    .container {
        width: 100%;
    }

    @media (max-width: 768px) { 
        .flex-header {
            flex-direction: column;
        }
        

        /************** HEADER MOBILE ****************/

        /*** LOGO MOBILE ***/

        header img {
            width: 40%;
            margin: auto;
            padding-left: 0;
        }

        /*** NAVIGATION MOBILE ***/

        nav ul {
            margin-top: 40px;
            padding-left: 0%;
        }

        nav ul li {
            width: 50%;
            font-size: 20px;
        }

        nav ul li a .line-nav:first-child {
            display: none;
        }

        nav ul li a .line-nav:last-child {
            display: block;
        }

        /*** FORM ***/

        header form button {
            display: block;
        }

        header form input[type=submit] {
            display: none;
        }

        /*** FILTER ***/

        .filters {
            flex-direction: column;
        }

        /************** MAIN ****************/

        /*** ARTICLE CARD ***/

        .cards-container {
            flex-direction: column;
        }

        .card {
            width: 90%;
        }

        /*** ACTIVITY ***/
        .activity-container {
            height: auto;
            flex-flow: column;
        }

        .activity-container .item-1,
        .activity-container .item-2,
        .activity-container .item-3,
        .activity-container .item-4,
        .activity-container .item-5,
        .activity-container .item-6 {
            height: 200px;
            width: 100%;
        }

        /************** FOOTER ****************/

        .footer {
            flex-direction: column;
        }
}